---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Droid Serif', serif;
$title-font-family: 'Roboto', sans-serif;
$base-font-size:   20px;
$base-font-weight: 300;
$heavy-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$card-border-radius: 2px;

$spacing-unit:     30px;

$text-color:       #282828;
$background-color: #FFFFFF;
$brand-color:      #f68a20;

$white:            #FFFFFF;
$black:            #000000;
$gray-color:       #282828;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);

// Width of the content area
$content-width:    100%;

// Transitions
$transition-speed: ease-in-out, 0.3s;

// Box shadoe
$li-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);

$on-palm:          600px;
$on-laptop:        800px;

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:   480px;
$medium:  768px;
$large:   960px;
$xlarge:  1260px;
$xxlarge: 1440px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
