---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

// Base Font
$base-font-family: 'Open Sans', serif;
$title-font-family: 'Roboto', sans-serif;
$base-font-size:   18px;
$base-font-weight: 300;
$heavy-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;


// Colors
$white:            #FFFFFF;
$black:            #000000;
$gray-color:       #676965;
$gray-color-light: lighten($gray-color, 35%);
$gray-color-dark:  darken($gray-color, 25%);

$spacing-unit:     30px;

$text-color:       $gray-color-dark;
$background-color: #F5F5F5;
$brand-color:      #f68921;

// Width of the content area
$content-width:    100%;

// Transitions
$transition-speed: all 0.4s ease-in-out;

// Box shadoe
$li-box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.4);

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:   600px;
$medium:  900px;
$large:   1200px;
$xlarge:  1800px;



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
