/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $background-color;
    padding: $spacing-unit / 3 0;

    .wrapper {
        padding: 0;
        margin: 0 auto;

        @media(min-width: $large) {
            padding: $spacing-unit / 3 0;
        }

        ul.main-menu {
            display: flex;
            flex-flow: nowrap;
            align-items: center;
            justify-content: space-between;
            margin-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                margin: 0 0;
            }

            li.item-1 {
                text-align: left;

                a {
                    .logo-mark {
                        background: url(/assets/logo/organic-t-logo-mark.svg) no-repeat 50% 50%;
                        background-position: center;
                        width: 32px;
                        height: 32px;
                    }

                    .logo-type {
                        background: url(/assets/logo/logo-type.svg) no-repeat 50% 50%;
                        background-position: left;
                        display: none;
                    }

                    .logo-mark,
                    .logo-type {
                        background-repeat: no-repeat;
                        display: inline-block;

                        @media(min-width: $large) {
                            height: 50px;
                        }
                    }

                    &:after {
                        border-bottom: 1px solid rgba(103, 105, 101, 0.0);
                    }

                    &:hover:after {
                          border-bottom: 1px solid rgba(103, 105, 101, 0.0);
                    }
                }

                &:hover {
                    .logo-mark {
                        background: url(/assets/logo/organic-t-logo-mark-filled.svg) no-repeat 50% 50%;
                    }
                }
            }

            li.item-2 {
                text-align: right;

                .page-link {
                    display: inline-block;
                    margin-left: $spacing-unit;
                    font-family: $title-font-family;
                    line-height: $base-line-height;
                }
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    background-color: $gray-color-light;
    padding: $spacing-unit 0;

    a {
        &:after {
            border-bottom: 1px solid rgba(103, 105, 101, 0.0);
        }

        &:hover:after {
              border-bottom: 1px solid rgba(103, 105, 101, 0.0);
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $base-font-size*0.8;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit / 2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $gray-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    :nth-child(1) {
        margin-top: 0;
    }

    p {
        margin-bottom: $spacing-unit;
    }

    h1, h2, h3, h4, h5, h6, p {
        width: 66.6666666%;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }

    img {
        margin: $spacing-unit / 2 0;
    }

    h1 {
        font-size: $base-font-size * 1.7;
        font-weight: 700;
        margin: $spacing-unit / 1.5 0 $spacing-unit / 3;
    }

    h2 {
        font-size: $base-font-size * 1.6;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: $base-font-size * 1.4;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: $base-font-size * 1.2;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Home
 */

.page-content > .home {

    .wrapper {
        width: 100%;

        @media(min-width: $large) {
            max-width: 100%;
        }

        ul.post-list {
            display: flex;
            align-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 0;
            padding: 0 0.5%;
            list-style: none;

        }

        li {
            width: 100%;
            margin: 0 0.5% $spacing-unit/2;
            background-color: $black;


            a {
                display: block;
                position: relative;
                height: 100%;
                text-decoration: none;

                &:after {
                    border-bottom: none;
                }

                &:hover:after {
                      border-bottom: none;
                }

                .post-hero {
                    width: 100%;
                    height: 300px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    -webkit-background-size: cover;
                    background-size: cover;
                    opacity: 1.0;
                }

                .content {
                    display: block;
                    position: absolute;
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 10%;
                    opacity: 0.0;
                    z-index: 1;
                    float: none;
                    text-align: center;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;

                    h2,
                    p.post-description {
                        color: $white;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    h2 {
                        font-size: $base-font-size * 1.25;
                        font-weight: 300;
                    }

                    .short-hr {
                        margin: $spacing-unit / 1.5 auto;
                    }

                    p.post-description {
                        margin-top: 0;
                        line-height: 1.25;
                        font-size: $base-font-size;
                        letter-spacing: 0.5px;
                    }
                }
            }

            @media(min-width: $medium) {
                min-height: 450px;

                a {
                    .post-hero {
                        height: 300px;
                    }

                    .content {
                        h2,
                        p.post-description {
                        }

                        h2 {
                            font-size: $base-font-size * 1.5;
                        }

                        .short-hr {}

                        p.post-description {}
                    }
                }
            }

            @media(min-width: $large) {
                max-width: 49%;
                min-height: 500px;

                a {
                    .post-hero {
                        height: 500px;
                    }

                    .content {
                        h2,
                        p.post-description {}

                        h2 {
                            font-size: $base-font-size * 1.75;
                            line-height: $base-line-height * 0.7;
                        }

                        .short-hr {

                        }

                        p.post-description {
                            font-size: $base-font-size;
                        }
                    }
                }
            }

            &:hover {

                a {
                    text-decoration: none;

                    .post-hero {
                        opacity: 0.05;
                    }

                    .content {
                        opacity: 1.0;

                        h2 { }

                        .short-hr {
                            width: 50px;
                        }

                        p.post-description {

                        }
                    }
                }
            }
        }
    }
}
