/**
 * Wrapper
 */
.wrapper {
    margin: 0;
    padding: 0;
    @extend %clearfix;
}



/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $background-color;
    padding: ($spacing-unit * 2/3) 0;

    .wrapper {
        padding: 0;
        margin: 0 auto;

        ul.main-menu {
            display: flex;
            flex-flow: nowrap;
            align-items: center;
            justify-content: space-between;
            margin-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                margin: 0 0;
            }

            li.item-1 {
                text-align: left;

                a {
                    .logo-mark {
                        background: url(/assets/logo/organic-t-logo-mark.svg) no-repeat 50% 50%;
                        background-position: center;
                        width: 32px;
                        height: 32px;
                    }

                    @media(min-width: $large) {
                        .logo-mark {
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 50px;
                        }
                    }

                    &:after {
                        border-bottom: 1px solid rgba(103, 105, 101, 0.0);
                    }

                    &:hover:after {
                          border-bottom: 1px solid rgba(103, 105, 101, 0.0);
                    }
                }

                &:hover {
                    .logo-mark {
                        background: url(/assets/logo/organic-t-logo-mark-filled.svg) no-repeat 50% 50%;
                    }
                }
            }

            li.item-2 {
                text-align: right;

                .page-link {
                    display: inline-block;
                    margin-left: $spacing-unit;
                    font-family: $title-font-family;
                    line-height: $base-line-height;
                }
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    background-color: $white;
    padding: $spacing-unit 0;

    a {
        &:after {
            border-bottom: 1px solid rgba(103, 105, 101, 0.0);
        }

        &:hover:after {
              border-bottom: 1px solid rgba(103, 105, 101, 0.0);
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $base-font-size*0.8;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($large) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

  .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
  }



/**
 * Page content
 */

.post-list {
    margin-left: 0;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-link {
    display: block;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;

    :nth-child(1) {
        margin-top: 0;
    }

    p {
        margin-bottom: $spacing-unit;
    }

    h1, h2, h3, h4, h5, h6, p {
        width: 66.6666666%;
    }

    img {
        margin: $spacing-unit / 2 0;
    }

    h1 {
        margin: $spacing-unit / 1.5 0 $spacing-unit / 3;
    }
}



/**
 * Home
 */

.page-content > .home {

    .wrapper {

        ul.post-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            align-items: stretch;
            margin: $spacing-unit $spacing-unit/2;

            @media (min-width: $large) {
                flex-direction: row;
            }

            li {
                width: 100%;
                margin: 0 0 $spacing-unit;

                a {
                    display: block;
                    position: relative;
                    height: 100%;

                    .post-hero {
                        width: 100%;
                        height: 300px;
                    }

                    .content {
                        display: block;
                        position: absolute;
                        margin: 0 auto;
                        padding: 0;
                        z-index: 1;
                        float: none;
                        top: 50%;

                        h2,
                        p.post-description {
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .short-hr {
                            margin: $spacing-unit / 1.5 auto;
                        }

                        p.post-description {
                            margin-top: 0;
                        }
                    }
                }

                @media(min-width: $medium) {
                    min-height: 240px;

                    a {
                        .post-hero {
                            height: 200px;
                        }
                    }
                }

                @media(min-width: $large) {
                    max-width: 32%;

                    a {
                        .post-hero {
                            height: 500px;
                        }
                    }
                }

                &:hover {

                    a {
                        .content {
                            .short-hr {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}
